.hdTitle {
  &.triangle {
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 16px 10px;
      border-color: transparent transparent #FF1D6C transparent;
  
      @apply inline-block mr-14;
    }
  }

  &.square {
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      
      @apply inline-block mr-14 bg-xfb2c;
    }
  }
}
